<div class="content">
    <h2 class="subtitle is-1"><%=subject%> - <%=desc%></h2>

    <div class="columns">
        <div class="column">
            <form method="post" action="/tests/<%=subject%>/<%=desc%>?_method=PUT">

                      <% for (var i in test) { %>
                        <% var quiz = test[i]; %>
                        <% var n = Number(i) + 1; %>

                              <div class="box">
                                <h3 class="subtitle is-4"><span class="tag is-info is-medium"><%=n%></span>  <%=quiz.question%></h3>
                                    <div class="control">
                                      <% if(quiz.answer1){ %>
                                      <p class="subtitle is-5"><label class="radio">
                                        <input type="radio" name="answer<%=n%>" value="1">
                                        <b>A.</b>  <%=quiz.answer1%>
                                      </label></p>
                                      <% } %>
                                      <% if(quiz.answer2){ %>
                                      <p class="subtitle is-5"><label class="radio">
                                        <input type="radio" name="answer<%=n%>" value="2">
                                        <b>B.</b>  <%=quiz.answer2%>
                                      </label></p>
                                      <% } %>
                                      <% if(quiz.answer3){ %>
                                      <p class="subtitle is-5"><label class="radio">
                                        <input type="radio" name="answer<%=n%>" value="3">
                                        <b>C.</b>  <%=quiz.answer3%>
                                      </label></p>
                                      <% } %>
                                      <% if(quiz.answer4){ %>
                                      <p class="subtitle is-5"><label class="radio">
                                        <input type="radio" name="answer<%=n%>" value="4">
                                        <b>D.</b>  <%=quiz.answer4%>
                                      </label></p>
                                      <% } %>
                                    </div>
                                <br><br>
                              </div>

                      <% } %>

                    <input type="submit" class="button is-success" value="Corregir">
                    <a href="/tests/<%=subject%>" class="button is-info">Volver</a>
            </form>
        </div>
    </div>
</div>

<script> MathJax.Hub.Queue(["Typeset",MathJax.Hub]);  </script> 
