<div class="content">
    <div class="box is-info">
      <div class="columns">
        <div class="column">
          <p class="subtitle is-2">
            Test Id: <%=testid%>
          </p>
        </div>
        <div class="column is-narrow">
          <a href="/tests/<%=subject%>"><%=subject%></a>
        </div>
      </div>
      <div class="columns">
        <div class="column">
          <p class="subtitle is-4">Descripción: <%=desc%></p>
        </div>
        <div class="column is-narrow">
          <span class="tag has-background-warning is-large">INTENTAR</span>
        </div>
      </div>
    </div>

    <div class="columns">
        <div class="column">
            <form method="post" action="/tests/<%=subject%>/<%=desc%>?_method=PUT">

                      <% for (var i in test) { %>
                        <% var quiz = test[i]; %>
                        <% var n = Number(i) + 1; %>

                              <div class="box">
                                <h3 class="subtitle is-4"><span class="tag is-info is-medium"><%=n%></span>  <%=quiz.question%></h3>
                                    <div class="control">
                                      <% if(quiz.answer1){ %>
                                      <p class="subtitle is-5"><label class="radio">
                                        <input type="radio" name="answer<%=n%>" value="1">
                                        <b>A.</b>  <%=quiz.answer1%>
                                      </label></p>
                                      <% } %>
                                      <% if(quiz.answer2){ %>
                                      <p class="subtitle is-5"><label class="radio">
                                        <input type="radio" name="answer<%=n%>" value="2">
                                        <b>B.</b>  <%=quiz.answer2%>
                                      </label></p>
                                      <% } %>
                                      <% if(quiz.answer3){ %>
                                      <p class="subtitle is-5"><label class="radio">
                                        <input type="radio" name="answer<%=n%>" value="3">
                                        <b>C.</b>  <%=quiz.answer3%>
                                      </label></p>
                                      <% } %>
                                      <% if(quiz.answer4){ %>
                                      <p class="subtitle is-5"><label class="radio">
                                        <input type="radio" name="answer<%=n%>" value="4">
                                        <b>D.</b>  <%=quiz.answer4%>
                                      </label></p>
                                      <% } %>
                                      <% if(quiz.answer5){ %>
                                      <p class="subtitle is-5"><label class="radio">
                                        <input type="radio" name="answer<%=n%>" value="5">
                                        <b>E.</b>  <%=quiz.answer5%>
                                      </label></p>
                                      <% } %>
                                      <% if(quiz.answer6){ %>
                                      <p class="subtitle is-5"><label class="radio">
                                        <input type="radio" name="answer<%=n%>" value="6">
                                        <b>F.</b>  <%=quiz.answer6%>
                                      </label></p>
                                      <% } %>
                                      <br>
                                      <p class="subtitle is-5"><label class="radio">
                                        <input type="radio" name="answer<%=n%>" value="0" checked>
                                        <b>Omitir</b>
                                      </label></p>
                                    </div>
                                <br>
                              </div>

                      <% } %>

                    <input type="submit" class="button is-success is-large" value="Corregir">
                    <a href="/tests/<%=subject%>" class="button is-info is-large">Volver</a>
            </form>
        </div>
    </div>
</div>
