<div class="content">

    <div class="box is-info">
      <div class="columns">
        <div class="column">
          <p class="subtitle is-2">
            Test Id: <%=testid%>
          </p>
        </div>
        <div class="column is-narrow">
          <a href="/tests/<%=subject%>"><%=subject%></a>
        </div>
      </div>
      <div class="columns">
        <div class="column">
          <p class="subtitle is-4">Descripción: <%=desc%></p>
        </div>
        <div class="column is-narrow">
          <span class="tag has-text-white has-background-primary is-large">SOLUCIÓN</span>
        </div>
      </div>
      
    </div>

    <div class="columns">
        <div class="column">

              <% for (var i in test) { %>
                  <% var quiz = test[i]; %>
                  <% var n = Number(i) + 1; %>

                        <div class="box">
                            <h3 class="subtitle is-4"><span class="tag has-text-white has-background-info is-medium"><%=n%></span>  <%=quiz.question%></h3>
                              <ul>
                                <% if(quiz.answer1){ %>
                                  <% if(Number(quiz.answer) === 1){ %>
                                    <li>
                                      <p class="subtitle is-4"><b>A.  <%=quiz.answer1%></b></p>
                                    </li>
                                  <% }else{ %>
                                    <li>
                                      <p class="subtitle is-5">A.  <%=quiz.answer1%></p>
                                    </li>
                                  <% } %>
                                <% } %>
                                <% if(quiz.answer2){ %>
                                  <% if(Number(quiz.answer) === 2){ %>
                                    <li>
                                      <p class="subtitle is-4"><b>B.  <%=quiz.answer2%></b></p>
                                    </li>
                                  <% }else{ %>
                                    <li>
                                      <p class="subtitle is-5">B.  <%=quiz.answer2%></p>
                                    </li>
                                  <% } %>
                                <% } %>
                                <% if(quiz.answer3){ %>
                                  <% if(Number(quiz.answer) === 3){ %>
                                    <li>
                                      <p class="subtitle is-4"><b>C.  <%=quiz.answer3%></b></p>
                                    </li>
                                  <% }else{ %>
                                    <li>
                                      <p class="subtitle is-5">C.  <%=quiz.answer3%></p>
                                    </li>
                                  <% } %>
                                <% } %>
                                <% if(quiz.answer4){ %>
                                  <% if(Number(quiz.answer) === 4){ %>
                                    <li>
                                      <p class="subtitle is-4"><b>D.  <%=quiz.answer4%></b></p>
                                    </li>
                                  <% }else{ %>
                                    <li>
                                      <p class="subtitle is-5">D.  <%=quiz.answer4%></p>
                                    </li>
                                  <% } %>
                                <% } %>
                            </ul>
                            <br><br>
                          </div>

            <% } %>

            <a href="/tests/<%=subject%>" class="button is-info">Volver</a>
            <a href="/tests/<%=subject%>/<%=testid%>" class="button is-warning has-text-black">Intentar</a>
        </div>
    </div>
</div>
