<div class="content">

    <h2 class="subtitle is-1"><%=subject%> - <%=desc%> \(\Rightarrow \) SOLUCIÓN</h2>

    <div class="columns">
        <div class="column">

              <% for (var i in test) { %>
                  <% var quiz = test[i]; %>
                  <% var n = Number(i) + 1; %>

                        <div class="box">
                          <% if(quiz.result === 'correct'){ %>
                            <h3 class="subtitle is-4"><span class="tag has-background-success is-medium"><%=n%></span>  <%=quiz.question%></h3>
                          <% }else if(quiz.result === 'incorrect'){ %>
                            <h3 class="subtitle is-4"><span class="tag has-background-danger is-medium"><%=n%></span>  <%=quiz.question%></h3>
                          <% }else{ %>
                            <h3 class="subtitle is-4"><span class="tag has-background-light is-medium"><%=n%></span>  <%=quiz.question%></h3>
                          <% } %>
                              <ul>
                                <% if(quiz.answer1){ %>
                                  <% if(Number(quiz.answer) === 1){ %>
                                    <li>
                                      <p class="subtitle is-4"><b>A.  <%=quiz.answer1%></b></p>
                                    </li>Créditos
                                  <% }else{ %>
                                    <li>
                                      <p class="subtitle is-5">A.  <%=quiz.answer1%></p>
                                    </li>
                                  <% } %>
                                <% } %>
                                <% if(quiz.answer2){ %>
                                  <% if(Number(quiz.answer) === 2){ %>
                                    <li>
                                      <p class="subtitle is-4"><b>B.  <%=quiz.answer2%></b></p>
                                    </li>
                                  <% }else{ %>
                                    <li>
                                      <p class="subtitle is-5">B.  <%=quiz.answer2%></p>
                                    </li>
                                  <% } %>
                                <% } %>
                                <% if(quiz.answer3){ %>
                                  <% if(Number(quiz.answer) === 3){ %>
                                    <li>
                                      <p class="subtitle is-4"><b>C.  <%=quiz.answer3%></b></p>
                                    </li>
                                  <% }else{ %>
                                    <li>
                                      <p class="subtitle is-5">C.  <%=quiz.answer3%></p>
                                    </li>
                                  <% } %>
                                <% } %>
                                <% if(quiz.answer4){ %>
                                  <% if(Number(quiz.answer) === 4){ %>
                                    <li>
                                      <p class="subtitle is-4"><b>D.  <%=quiz.answer4%></b></p>
                                    </li>
                                  <% }else{ %>
                                    <li>
                                      <p class="subtitle is-5">D.  <%=quiz.answer4%></p>
                                    </li>
                                  <% } %>
                                <% } %>
                            </ul>
                            <br><br>
                          </div>

            <% } %>

            <a href="/tests/<%=subject%>" class="button is-info">Volver</a>

        </div>
    </div>
</div>
