<div id="usercontent" class="content">

  <div class="columns">
    <div class="column">
      <p class="title is-1">Tests de <%=subject%></p>
    </div>
    <% var isAdmin = session.user && session.user.isAdmin; %>
    <% var isEditor = session.user && session.user.isEditor; %>
    <% if (isAdmin || isEditor) { %>
    <div class="column is-narrow">
      <a href="/newtest/<%=subject%>" class="button is-success is-large">Añadir test</a>
    </div>
    <% } %>
    
  </div>

  <% for (var i in tests) { %>
  <% var test = tests[i]; %>

    <div class="box">
        <div class="columns">
          <div class="column">
            <a href="/tests/<%=subject%>/<%=test.testid%>" class="is-size-3"><%=test.testid%></a>
          </div>
          <div class="column is-narrow">
            <a href="/tests/<%=subject%>/<%=test.testid%>/solved" class="button is-primary is-medium">Solución</a>
          </div>

          <% if (isAdmin || isEditor) { %>
          <div class="column is-narrow">
            <a href="/edittest/<%=subject%>/<%=test.testid%>" class="button is-warning is-medium">Editar</a>
          </div>
          <div class="column is-narrow">
            <a href="/tests/<%=subject%>/<%=test.testid%>?_method=DELETE"" class="button is-danger is-medium" onclick="return confirm('Delete: <%=test.testid%>?');">Eliminar</a>
          </div>
          <% } %>
          
        </div>

        <div class="columns">
          <div class="column">
              <p class="subtitle is-4"><%=test.desc%></p>
              <p class="subtitle is-6">Veces intentado: <%=test.nTries%></p>
          </div>
          <div class="column is-narrow">
              <canvas id="chart-<%=test.testid%>" width="100" height="100"></canvas>
          </div>
        </div>
    </div>

    <script>
        var ctx = document.getElementById('chart-<%=test.testid%>').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'doughnut',
            data: {
                labels: ['Aciertos', 'Fallos', 'Omitidas'],
                datasets: [{
                    data: [<%=test.hits%>, <%=test.fails%>, <%=test.omissions%>],
                    backgroundColor: [
                        'hsl(141, 53%, 53%)',
                        'hsl(348, 100%, 61%)',
                        'hsl(0, 0%, 71%)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                legend: false,
            }
        });
    </script>

  <% } %>

</div>