<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>(T)E(S)TSIT</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.0/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js" id="MathJax-script"></script>

    <style>
        .logo1 {
            color: white;
            font-size: 40px;
        }
        .logo {
            font-size: 25px;
        }
        .wrapper {
            max-width: 1200px;
            min-height: 80vh;
            margin: auto;
            background-color: rgba(255, 255, 255, 0.3);
        }
        #particles-js canvas {
            display: block;
            -webkit-transform: scale(1);
            -ms-transform: scale(1);
            transform: scale(1);
            opacity: 1;
            -webkit-transition: opacity .8s ease, -webkit-transform 1.4s ease;
            transition: opacity .8s ease, transform 1.4s ease
        }
        #particles-js {
            width: 100%;
            height: 100%;
            position: fixed;
            z-index: -10;
            top: 0;
            left: 0
        }
        .footer {
          max-width: 1200px;
          margin: auto;
        }
    </style>

    <% var color = '#AD5EF6'; %>
    <% if (session.user) { %>
    
    <% if (session.user.isAdmin) { %>
      <% var color = '#209cee'; %>
    <% } else if (session.user.isEditor) { %>
      <% var color = '#23d160'; %>
    <% } %>

    <% } %>

    <style>
        .navlogo {
          background: linear-gradient(to right,<%=color%>,white);
        }
    </style>

</head>

<body>

<div id="particles-js"></div>

<div class="wrapper">
<nav class="navbar navlogo logo" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item logo1" href="/">(T)E(S)TSIT</a>
    <div class="navbar-burger burger" data-target="navMenu">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div id="navMenu" class="navbar-menu">

    <div class="navbar-start">

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link" href="/">Tests (por curso)</a>
        <div class="navbar-dropdown is-boxed">
            <a class="navbar-item" href="/quizzes">Preguntas</a>
            <a class="navbar-item" href="/subjects/GITST/1">Primero</a>
            <a class="navbar-item" href="/subjects/GITST/2">Segundo</a>
            <a class="navbar-item" href="/subjects/GITST/3">Tercero</a>
            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link" href="/subjects/GITST/4">Cuarto</a>
              <div class="navbar-dropdown is-boxed">
                  <a class="navbar-item" href="/subjects/GITST/4/sist">Sist. de Telecomunicación</a>
                  <a class="navbar-item" href="/subjects/GITST/4/elect">Sist. Electrónicos</a>
                  <a class="navbar-item" href="/subjects/GITST/4/auvis">Sist. Audiovisuales</a>
                  <a class="navbar-item" href="/subjects/GITST/4/telem">Sist. Telemáticos</a>
              </div>
            </div>
        </div>
      </div>

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link" href="/users">Usuarios</a>
        <div class="navbar-dropdown is-boxed">
            <% if (!session.user){ %>
                <a class="navbar-item" href="/login">Inicia Sesión</a>
                <a class="navbar-item" href="/signup">Nueva Cuenta</a>
            <% }else{ %>
                <% var isAdmin = session.user && session.user.isAdmin; %>
                <% if(isAdmin){%>
                  <a class="navbar-item" href="/emails">Emails</a>
                <% } %>
                <a class="navbar-item" href="/users/<%=session.user.id%>">Mi Perfil:&nbsp;<b><%=session.user.username%></b></a>
                <a class="navbar-item" href="/logout">Cerrar Sesión</a>
            <% } %>
        </div>
      </div>

      <a class="navbar-item" href="/credits">Créditos</a>

    </div>

    <div class="navbar-end">

      <div class="navbar-item">
        <div class="field is-grouped">

          <p class="control">
            <a class="bd-tw-button button" data-social-network="Twitter" data-social-action="tweet" target="_blank" href="https://twitter.com/intent/tweet?text=(T)E(S)TSIT goes brrrrrrrrrrrrrrrrrrrr">
              <span class="icon">
                <i class="fab fa-twitter"></i>
              </span>
              <span>
                Tweet
              </span>
            </a>
          </p>

        </div>
      </div>

    </div>

  </div>
</nav>

<script type="text/javascript">
  (function() {
    var burger = document.querySelector('.burger');
    var nav = document.querySelector('#'+burger.dataset.target);
    burger.addEventListener('click', function(){
      burger.classList.toggle('is-active');
      nav.classList.toggle('is-active');
    });
  })();
</script>

<section class="hero">
    <% if (messages.info) { %>
        <div class='box'>
            <p class="is-size-3">Info:</p>
            <ul>
                <% for (var i in messages.info) { %>
                    <li> <%= messages.info[i] %> </li>
                <% } %>
            </ul>
        </div>
    <% } %>

    <% if (messages.success) { %>
        <div class='box has-text-success'>
            <p class="is-size-3">Tasks completed successfully:</p>
            <ul>
                <% for (var i in messages.success) { %>
                    <li> <%= messages.success[i] %> </li>
                <% } %>
            </ul>
        </div>
    <% } %>

    <% if (messages.error) { %>
        <div class='box has-text-danger'>
            <p class="is-size-3">Errors:</p>
            <ul>
                <% for (var i in messages.error) { %>
                    <li> <%= messages.error[i] %> </li>
                <% } %>
            </ul>
        </div>
    <% } %>

    <div class="hero-body">
        <%- body %>
        <% if (locals.paginate_control) { %>
          <div class="has-text-centered is-size-2">
            <%- paginate_control %>
          </div>
        <% } %>
    </div>

</section>

</div>

<footer class="has-text-centered">
    <p class="subtitle is-4">
      <strong>(T)E(S)TSIT</strong> by <a href="https://radio.clubs.etsit.upm.es/" target="_blank">RadioClub</a>.
      <br>
      <a class='is-size-5' href="https://moodle.upm.es/titulaciones/oficiales/login/login.php" target="_blank">¿No estás seguro de la respuesta? Haber estudiao.</a>
    </p>
</footer>

</div>

<script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script>

<script>
  particlesJS("particles-js", {
    "particles": {
      "number": {
        "value": 150,
        "density": {
          "enable": true,
          "value_area": 800
        }
      },
      "color": {
        "value": "<%=color%>"
      },
      "shape": {
        "type": "circle",
        "stroke": {
          "width": 0,
          "color": "<%=color%>"
        },
        "polygon": {
          "nb_sides": 5
        },
        "image": {
          "src": "img/github.svg",
          "width": 100,
          "height": 100
        }
      },
      "opacity": {
        "value": 0.7,
        "random": false,
        "anim": {
          "enable": false,
          "speed": 1,
          "opacity_min": 0.1,
          "sync": false
        }
      },
      "size": {
        "value": 3,
        "random": true,
        "anim": {
          "enable": false,
          "speed": 5,
          "size_min": 0.1,
          "sync": false
        }
      },
      "line_linked": {
        "enable": true,
        "distance": 150,
        "color": "<%=color%>",
        "opacity": 0.6,
        "width": 1
      },
      "move": {
        "enable": true,
        "speed": 1.5,
        "direction": "none",
        "random": false,
        "straight": false,
        "out_mode": "out",
        "bounce": false,
        "attract": {
          "enable": false,
          "rotateX": 600,
          "rotateY": 1200
        }
      }
    },
    "interactivity": {
      "detect_on": "canvas",
      "events": {
        "onhover": {
          "enable": true,
          "mode": "grab"
        },
        "onclick": {
          "enable": true,
          "mode": "push"
        },
        "resize": true
      },
      "modes": {
        "grab": {
          "distance": 140,
          "line_linked": {
            "opacity": 1
          }
        },
        "bubble": {
          "distance": 400,
          "size": 40,
          "duration": 2,
          "opacity": 8,
          "speed": 3
        },
        "repulse": {
          "distance": 200,
          "duration": 0.4
        },
        "push": {
          "particles_nb": 4
        },
        "remove": {
          "particles_nb": 2
        }
      }
    },
    "retina_detect": true
  });
</script>

</body>
</html>
