<div class="content">

  <ul>
      <% for (var i in tips) { %>
           <% var tip = tips[i]; %>

          <% var accepted = tip.accepted; %>
          <% var isAdmin = session.user && session.user.isAdmin; %>
          <% var isQuizAuthor = session.user && quizAuthorId && quizAuthorId === session.user.id; %>

          <% var isTipAuthor = session.user && tip.authorId === session.user.id; %>


          <% if (accepted || isAdmin || isQuizAuthor) { %>

              <li>
                  <p class="has-text-white is-small"> <%= tip.text %> <span class="tag is-success is-small"><%= tip.author.username %></span>

                  <% if (!accepted && (isAdmin || isQuizAuthor)) { %>
                      <a href="/quizzes/<%= quizId %>/tips/<%= tip.id %>/accept?_method=PUT" class="button is-warning is-small">Accept</a>
                  <% } %>

                  <% if (isAdmin || isTipAuthor) { %>
                          <a href="/quizzes/<%= quizId %>/tips/<%= tip.id %>/edit" class="button is-warning is-small">Edit</a>
                  <% } %>

                  <% if (isAdmin || isQuizAuthor) { %>
                          <a href="/quizzes/<%= quizId %>/tips/<%= tip.id %>?_method=DELETE" class="button is-danger is-small">Delete</a>
                  <% } %>
                  </p>
              </li>
                        
          <% } %>

      <% } %>
  </ul>
</div>