<div class="content">
  
	<h2 class="subtitle is-4"><%=result%></h2>

    <%if(result=="Correct"){%>
	    
      <div class="notification is-success">
	      
        <h3 class="subtitle is-5">Congratulations</h3>
        <span class="tag is-small is-ligth">Points: <%= session.user.points %></span>
        <span class="tag is-small is-dark">Fails: <%= session.user.fails %></span>

	  	</div>
	  	<a href="/quizzes" class="button is-info">Go Back</a>

    <%}else{%>
    	
      <div class="notification is-danger">
      		
        <h3 class="subtitle is-5">Wrong Answer</h3>
        <span class="tag is-small is-ligth">Points: <%= session.user.points %></span>
        <span class="tag is-small is-dark">Fails: <%= session.user.fails %></span>

    	</div>

    	<a href="/quizzes/<%=quiz.id%>/play" class="button is-warning" name="answer">Try Again</a>
    	<a href="/quizzes" class="button is-info">Go Back</a>

    <%}%>

</div>
