<div class="content">
    <p class="title is-1">Usuarios</p>
    
    
    <% for (var i in users) { %>
        
        <div class="box">
            <div class="columns">
                <div class="column">
                    <a class="subtitle is-3" href="/users/<%= users[i].id %>" ><%= users[i].username %></a>
                </div>
                <% if(users[i].isAdmin) { %>
                <div class="column is-narrow">
                    <span class="tag is-info is-medium">ADMIN</span>
                </div>    
                <% }else if (users[i].isEditor) { %>
                <div class="column is-narrow">
                    <span class="tag is-success is-medium">EDITOR</span>
                </div>    
                <% } %>
                <% if (session.user) { %>            
            
                    <% if (session.user.isAdmin || session.user.id === users[i].id) { %>
                        <div class="column is-narrow">
                            <a href="/users/<%= users[i].id %>/edit"class="button is-small is-warning">Edit</a>
                        </div>
                        <div class="column is-narrow">
                            <a href="/users/<%= users[i].id %>?_method=DELETE"
                                onClick="return confirm('Delete user: <%= users[i].username %>');"
                                class="button is-small is-danger">Delete</a>
                        </div>
                    <% } %>
        
                <% } %>      
            </div>
        </div>
        
    <% } %>
</div>

    