<div class="content">
    <h2 class="subtitle is-4">Users</h2>

    <ul class="is-medium">
        <% for (var i in users) { %>
            <li class="is-medium">
                <a href="/users/<%= users[i].id %>" ><%= users[i].username %></a>
                <%= users[i].isAdmin ? "(admin)" : "" %>
                <span class="tag is-small is-ligth">Points: <%= users[i].points %></span>
                <span class="tag is-small is-dark">Fails: <%= users[i].fails %></span>

            <% if (session.user) { %>            
                
                <% if (session.user.isAdmin || session.user.id === users[i].id) { %>
                        <a href="/users/<%= users[i].id %>/edit"class="button is-small is-warning">Edit</a>
                <%  } %>

                <% if (session.user.isAdmin && session.user.id !== users[i].id) { %>
                        <a href="/users/<%= users[i].id %>?_method=DELETE"
                           onClick="return confirm('Delete user: <%= users[i].username %>');"
                            class="button is-small is-danger">Delete</a>
                <% } %>

            <% } %>
            </li>
        <% } %>
    </ul>
    
</div>