<div class="content">

<h2 class="subtitle is-4">User</h1>

<p>
    <a href="/users/<%=user.id %>/quizzes" class="button is-info is-small">Creations</a>
    <span class="tag is-small is-ligth">Points: <%= user.points %></span>
    <span class="tag is-small is-dark">Fails: <%= user.fails %></span>
</p>

<ul>
    <li>
        <h2 class="subtitle is-5"> User name: <%= user.username %> </h2>
    </li>

    <li>
        <h2 class="subtitle is-5"> Administrator: <%= user.isAdmin ? "Yes" : "No" %> </h2>
    </li>
</ul>

<a href="/goback" class="button is-small">Go back</a>

</div>
