<div class="content">

    <div class="box">
        <div class="columns">
            <div class="column">
                <a class="subtitle is-3" href="/users/<%= user.id %>" ><%= user.username %></a>
            </div>
            <% if(user.isAdmin) { %>
            <div class="column is-narrow">
                <span class="tag is-info">ADMIN</span>
            </div>    
            <% } %>
            <div class="column is-narrow">
                <span class="tag is-ligth">Points: <%= user.points %></span>
            </div>
            <div class="column is-narrow">
                <span class="tag is-dark">Fails: <%= user.fails %></span>
            </div>  
            <% if (session.user) { %>            
        
                <% if (session.user.isAdmin || session.user.id === user.id) { %>
                    <div class="column is-narrow">
                        <a href="/users/<%= user.id %>/edit"class="button is-small is-warning">Edit</a>
                    </div>  
                    
                <%  } %>
    
                <% if (session.user.isAdmin && session.user.id !== user.id) { %>
                    <div class="column is-narrow">
                        <a href="/users/<%= user.id %>?_method=DELETE"
                            onClick="return confirm('Delete user: <%= user.username %>');"
                            class="button is-small is-danger">Delete</a>
                    </div>  
                    
                <% } %>
    
            <% } %>      
        </div>

    </div>
    <a href="/goback" class="button is-info">Volver</a>

</div>